swagger: '2.0'
info:
  title: Star Wars Gateway
  description: Authentication Gateway API Key
  version: 1.0.0
schemes:
  - https
produces:
  - application/json
paths:
  /**:
    get:
      summary: Catch-all Proxy
      operationId: starwars-proxy
      parameters:
        - name: type
          in: query
          type: string
        - name: filter
          in: query
          type: string
        - name: sort
          in: query
          type: string
        - name: page
          in: query
          type: integer
        - name: size
          in: query
          type: integer
        - name: key
          in: query
          type: string
          description: API Key
      x-google-backend:
        address: https://starwars-function-6qyfkgqywa-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      security:
        - api_key: [ ]
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized

securityDefinitions:
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"